*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0 20px;
    box-sizing: border-box;
}

#mainBody{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

#inputs{
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ccc;
}

#controls{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#parameters{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#parameters > div > div {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
}

#base{
    margin-bottom: 15px;
}

button{
    border: none;
    background-color: #555;
    color: #fff;
    padding: 5px 25px;
    font-size: large;
    cursor: pointer;
    margin-bottom: 5px;
}

#inputs input{
    text-align: center;
    padding: 5px 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #555;
    outline: none;
    margin-left: 5px;
    width: 120px;
    background-color: transparent;
}

#statistics{
    width: 100%;
    margin-left: 20px;
}

#strategies{
    display: none;
    margin-top: 20px;
}

#advanced{
    display: none;
}

h2{
    margin-bottom: 10px;
}

.stat{
    display: flex;
    justify-content: space-between;
    width: 250px;
    box-sizing: border-box;
    padding: 5px;
}

#statistics > .stat:nth-child(even) {
    background-color: #ccc; 
}
#statistics > .stat:nth-child(odd) {
    background-color: #eee; 
}

#strategies > .stat:nth-child(odd) {
    background-color: #ccc; 
}
#strategies > .stat:nth-child(even) {
    background-color: #eee; 
}

#content{
    display: flex;
}

#xLabel{
    text-align: center;
    width: 501px;
    margin-left: 45px;
}

#yLabel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 515px;
    transform: translateY(-9px);
    margin-right: 10px;
}

#yLabel:span{
    text-align: end;
    display: inline;
}

#display{
    position: relative;
    width: 506px;
    height: 506px;
}

canvas{
    position: absolute;
}

#yAxis{
    top: 0;
    left: 0;
}

#xAxis{
    bottom: 0;
    left: 5px;
}

#canvas{
    left: 5px;
    top: 0;
}

input{
    width: 50px;
}